@import "./variables";
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: $red;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text {
  margin: 5%;
  margin-left: 8%;
  color: #fff;
  .title {
    font-size: 4em;
  }
  .paragraph {
    font-size: 1em;
  }
}
.form {
  margin: 5%;
  .card1 {
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50px;
    border-radius: 12px;
  }
  .card2 {
    background-color: #fff;
    padding: 5%;
    border-radius: 12px;
    margin-top: 2%;
    input {
      width: 100%-5%;
      height: 30px;
      border: none;
      border: 1px solid $grayishBlue;
      border-radius: 5px;
      margin-top: 3%;
      padding-left: 5%;
      font-weight: 400;
      &::placeholder {
        font-weight: normal;
      }
      &:nth-child(4) {
        margin-bottom: 3%;
      }
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }
    button {
      border: none;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      color: #fff;
      background-color: $green;
    }
    .tac {
      text-align: center;
      font-size: 10px;
      .red {
        color: $red;
        font-weight: 600;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  a {
    color: $blue;
  }
}
